      body{
          margin: 0;
          padding: 0;
          font-family: "arial", serif;
      }
      
        .nav{
          background-color:#595959;
          color:#ffffff;
      }
         
      
    
